<form name="vm.userDataForm" ng-submit="vm.saveUserData()">
    <div class="form-group">
        <label for="">Fecha de nacimiento*</label>
        <div class="row">
            <div class="col-md-3">
                <select name="diaNac" id="diaNac" ng-model="vm.birthday" ng-options="day as day for day in vm.days" class="form-control" required>
                    <option value="" selected>- Día -</option>
                </select>
            </div>
            <div class="col-md-5">
                <select name="mesNac" id="mesNac" class="form-control" ng-model="vm.birthmonth" ng-options="month as month.nombre for month in vm.months" required>
                    <option value="" selected>- Mes -</option>
                </select>
            </div>
            <div class="col-md-4">
                <select name="yearNac" id="yearNac" ng-model="vm.birthyear" ng-options="year as year for year in vm.years" class="form-control" required>
                    <option value="" selected>- Año -</option>
                </select>
            </div>
        </div>

    </div>
    <div class="form-group">
        <h5><strong>Sexo *</strong></h5>
        <div class="radio">
            <label>
                <input type="radio" name="sexo" id="hombre" ng-model="vm.sexo" value="hombre"> Hombre
            </label>
            <label>
                <input type="radio" name="sexo" id="mujer" ng-model="vm.sexo" value="mujer"> Mujer
            </label>
            <!--<label>
                <input type="radio" name="sexo" id="otroSexo" ng-model="vm.sexo" value="otro" checked> No especificado
            </label>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <div class="form-group">
                <h5><strong>Fotografía de perfil</strong></h5>
                <input name="image" id="image" type="file" class="file inputfile" data-file ng-model="vm.avatar">
                <label class="control-label text-center" for="image"><i class="fa fa-upload" aria-hidden="true"></i> <span>Buscar imagen en sus archivos</span></label>
                <div class="pull-right">
                    <img ng-src="{{ vm.avatar }}"/>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <img src="img/avatar.png" alt="" class="img-responsive">
        </div>
    </div>
    <div class="form-group">
        <label for="estadoCivil">Estado Civil*</label>
        <select name="estadoCivil" id="estadoCivil" ng-model="vm.estadoCivil" class="form-control" required>
            <option value="" selected>- Seleccione uno de la lista -</option>
            <option value="soltero">Soltero(a)</option>
            <option value="casado">Casado(a)</option>
            <option value="divorciado">Divorciado(a)</option>
            <option value="viudo">Viudo(a)</option>
            <option value="unionlibre">Unión libre</option>
            <option value="otro">Otro</option>
        </select>
    </div>
    <div class="form-group">
        <label for="celular">Celular personal (10 dígitos)*</label>
        <input type="number" name="celular" id="celular" ng-model="vm.celular" min="0" class="form-control" ng-maxlength="10" ng-minlength="10" required>
        <br>
        <label for="telefono">Teléfono (para recados) o celular alternativo</label>
        <input type="number" name="telefono" id="telefono" ng-model="vm.telefono" min="0" class="form-control" ng-maxlength="10" ng-minlength="10" placeholder="(Incluya lada, añada 044 al inicio si es celular)">
    </div>
    <div class="form-group">
        <label for="pais">País *</label>
        <select ng-options="pais as pais.name for pais in vm.countries" name="pais" id="pais" ng-model="vm.pais" class="form-control" ng-change="vm.getEstado()" required>
            <option value="" selected>- Seleccione de la lista -</option>
        </select>
    </div>
    <div class="form-group">
        <label for="estado">Estado *</label>
        <select ng-options="estado as estado.name for estado in vm.states" name="estado" id="estado" ng-model="vm.estado" class="form-control" ng-disabled="!vm.states" required>
            <option value="" selected>-- Seleccione primero un país --</option>
        </select>
    </div>
    <div class="form-group">
        <label for="ciudad">Ciudad o localidad *</label>
        <input type="text" name="ciudad" id="ciudad" ng-model="vm.ciudad" class="form-control" placeholder="Ciudad de origen" ng-maxlength="50" required>
    </div>
    <div class="form-group">
        <label for="address-input">Dirección *</label>
        <input type="hidden" name="lat" id="lat" ng-model="vm.lat" class="hidden">
	    <input type="hidden" name="lng" id="lng" ng-model="vm.lng" class="hidden">
        <input type="search" name="address" ng-model="vm.address" id="address-input" placeholder="Seleccione su dirección de la lista" class="form-control" ng-blur="vm.callmap()" required/>
    </div>
    <div class="form-group">
        <label for="zip">Código Postal</label>
        <input type="number" name="zip" id="zip" ng-model="vm.zip" class="form-control" ng-minlength="5" ng-maxlength="5" required>
    </div>
    <div class="form-group">
        <label for="colonia">Colonia</label>
        <input type="text" name="colonia" id="colonia" ng-model="vm.colonia" class="form-control" ng-maxlength="35" required>
    </div>
    <div class="row form-group">
        <div class="col-md-12">
            <map zoom="{{vm.map.zoom}}" center="{{vm.map.center}}" options="{{vm.map.options}}">
                <marker position="{{vm.marker.position}}" decimals="{{vm.marker.decimals}}" options="{{vm.marker.options}}"></marker>
            </map>
        </div>
    </div>
    <div class="form-group">
        <label for="nacionalidad">Nacionalidad*</label>
        <select ng-options="pais as pais.name for pais in vm.countries" name="nacionalidad" id="nacionalidad" ng-model="vm.nacionalidad" class="form-control" required>
            <option value="" selected>- País de origen -</option>
        </select>
    </div>
    <div class="form-group">
        <label for="inc">Marque si cuenta con alguna discapacidad</label>
        <input type="checkbox" name="inc" id="inc" ng-model="vm.inc">
        <textarea name="discapacidad" id="discapacidad" placeholder="(Describa aquí brevemente, máximo 100 caracteres)" ng-model="vm.discapacidad" ng-minlength="10" maxlength="100" ng-show="vm.inc" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label for="facebook">Perfil de Facebook (enlace)</label>
        <input type="url" name="facebook" id="facebook" ng-model="vm.facebook" placeholder="(Opcional)" class="form-control form-icon">
        <span class="fa fa-facebook-official fa-2x input-span input-social"></span>
    </div>
    <div class="form-group">
        <label for="twitter">Perfil de Twitter (enlace)</label>
        <input type="url" name="twitter" id="twitter" ng-model="vm.twitter" placeholder="(Opcional)" class="form-control form-icon">
        <span class="fa fa-twitter-square fa-2x input-span input-social"></span>
    </div>
    <div class="form-group">
        <label for="linkedin">Perfil de LinkedIn (enlace)</label>
        <input type="url" name="linkedin" id="linkedin" ng-model="vm.linkedin" placeholder="(Opcional)" class="form-control form-icon">
        <span class="fa fa-linkedin-square fa-2x input-span input-social"></span>
    </div>
    <div class="form-group">
        <label for="licenciaConducir">Marque si cuenta con licencia de conducir</label>
        <input type="checkbox" name="licenciaConducir" id="licenciaConducir" ng-model="vm.licenciaConducir">
    </div>
    <div class="form-group">
        <label for="vehiculoPropio">Marque si posee vehículo propio</label>
        <input type="checkbox" name="vehiculoPropio" id="vehiculoPropio" ng-model="vm.vehiculoPropio">
    </div>

    <div class="row">
        <div class="col-md-2">
            <!--<button class="btn btn-default pull-left"></button>-->
        </div>

        <div class="col-md-2 col-md-offset-8">
            <button type="submit" class="btn btn-default pull-right" ng-disabled="vm.userDataForm.$invalid">Registrar y continuar <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        </div>
    </div>
    <!--<input type="date" name="fechaNac" id="fechaNac" ng-model="vm.fechaNac" class="form-control" required>-->
</form>
