<form name="vm.userExperienciaForm" ng-submit="vm.saveUserExperiencia()" novalidate>
  <!--<div class="row">
      <div class="col-md-12">
          <label for="vm.noExp" class="btn btn-default btn-block" ng-class="{active: vm.noExp}">
              <input type="checkbox" id="vm.noExp" name="vm.noExp" ng-model="vm.noExp"> No cuento con experiencia profesional
          </label>
      </div>
  </div>
  <br>-->
  <div ng-hide="vm.noExp">
    <div class="row">
      <div class="col-md-12">
        <span class="btn badge b-black" ng-repeat="exp in vm.userJob" ng-click="vm.removeExp(exp)" title="Haga clic para eliminarlo de la lista"><small>{{exp.nombre}}</small> <i class="fa fa-times-circle" style="color:#ff4500;" aria-hidden="true"></i></span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="nombre">Nombre de la empresa *</label>
          <input type="text" name="nombre" id="nombre" ng-model="vm.nomEmpresa" class="form-control"  ng-required="required">
        </div>

        <div class="form-group">
          <label for="giro">Giro de la empresa *</label>
          <select name="giro" id="giro" ng-model="giro" class="form-control" ng-required="required">
            <option value="" selected>- Seleccione de la lista -</option>
            <option value="comercializacion">Comercialización</option>
            <option value="procesos">Procesos</option>
            <option value="rrhh">Recursos Humanos</option>
            <option value="finanzas">Finanzas</option>
          </select>
          <!--<input type="text" name="giro" id="giro" ng-model="vm.giro" class="form-control" placeholder="(Ejemplo: Administración, Construcción, Informática)" ng-required="required">-->
        </div>

        <div class="form-group">
          <label for="cargo">Puesto *</label>
          <input type="text" name="cargo" id="cargo" ng-model="vm.cargo" class="form-control" ng-required="required">
        </div>

        <div class="form-group">
          <label for="area">Área *</label>
          <input type="text" name="area" id="area" ng-model="vm.area" class="form-control" placeholder="" ng-required="required">
        </div>

        <label for="esInicio">Fecha de inicio *</label>
        <div class="row">
          <div class="col-md-5">
            <select name="mesInicio" id="mesInicio" class="form-control" ng-model="vm.mesInicio" ng-options="month as month.nombre for month in vm.months" required>
              <option value="" selected>- Mes -</option>
            </select>
          </div>
          <div class="col-md-4">
            <select name="yearInicio" id="yearInicio" ng-model="vm.yearInicio" ng-options="year as year for year in vm.years" class="form-control" required>
              <option value="" selected>- Año -</option>
            </select>
          </div>
        </div>

        <label for="esInicio">Fecha de salida *</label>
        <div class="row">
          <div class="col-md-5">
            <select name="mesFinal" id="mesFinal" class="form-control" ng-model="vm.mesFinal" ng-options="month as month.nombre for month in vm.months" required ng-disabled="vm.actual">
              <option value="" selected>- Mes -</option>
            </select>
          </div>
          <div class="col-md-4">
            <select name="yearFinal" id="yearFinal" ng-model="vm.yearFinal" ng-options="year as year for year in vm.years" class="form-control" required ng-disabled="vm.actual">
              <option value="" selected>- Año -</option>
            </select>
          </div>
        </div>
        <br>
        <div class="form-group">
          <input type="checkbox" name="actual" id="actual" ng-model="vm.actual" ng-required="required">
          <label for="actual"><small>(Marque esta casilla si es su trabajo actual)</small></label>
        </div>
        <div class="form-group">
          <label for="descripcion">Descripción del trabajo desempeñado *</label> <span><small>{{vm.maxlenght - vm.expDesc.length}} restantes</small></span>
          <textarea name="descripcion" id="descripcion" ng-model="vm.expDesc" class="form-control" placeholder="(Entre 30 o 600 caracteres)" ng-minlength="30" ng-maxlength="{{vm.maxlenght}}" ng-trim="false" rows="3" ng-required="required"></textarea>
          <div ng-show="vm.userExperienciaForm.expDesc.$invalid && vm.userExperienciaForm.expDesc.$touched || vm.userExperienciaForm.expDesc.$touched && vm.expDesc.length < 30">
            <p class="validation">Complete la descripción correctamente</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="sueldo">Sueldo percibido *</label>
              <input type="number" name="sueldo" id="sueldo" ng-model="vm.sueldo" class="form-control form-icon" placeholder="Nominal, número cerrado" required>
              <span class="fa fa-usd input-span" style="color: green"></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="periodo" style="visibility: hidden">periodo</label>
              <select name="periodo" id="periodo" ng-model="vm.periodo" class="form-control" required>
                <option value="" disabled selected>-- Periodo --</option>
                <option value="semanal">Semanal</option>
                <option value="quincenal">Quincenal</option>
                <option value="mensual">Mensual</option>
                <option value="anual">Anual</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 col-md-offset-10">
        <button type="button" class="btn btn-default btn-xs pull-right" ng-click="vm.addExperiencia()" ng-disabled="vm.userExperienciaForm.$invalid && vm.expDesc.length < 30 && !vm.expDesc">
          <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar
        </button>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-primary pull-left" ng-click="vm.previousStep()"><i class="fa fa-chevron-left" aria-hidden="true"></i> Volver al registro anterior</button>
    </div>
    <div class="col-md-2 col-md-offset-8">
      <button type="submit" class="btn btn-default pull-right" ng-disabled="!vm.userJob.length && !vm.noExp">Registrar y continuar <i class="fa fa-chevron-right" aria-hidden="true"></i></button>
    </div>
  </div>
</form>
