<navigation-user></navigation-user>

<div id="wrapper">
  <div id="page-wrapper" class="gray-bg">
    <div class="wrapper wrapper-content">
      <div class="container">
        <!-- <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-3 control-label">Full name</label>
                <p class="form-control-static">{{ vm.user.name }} {{vm.user.lastname}}</p>
              </div>
              <div class="form-group">
                <label class="col-sm-3 control-label">Email</label>
                <p class="form-control-static">{{ vm.user.email }}</p>
              </div>
            </form>
          </div>
        </div> -->
        <div class="row animated fadeInRight">
          <!-- perfil -->
          <div class="col-md-5">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      Mi Perfil
                  </div>
                  <div class="ibox-content no-padding border-left-right">
                      <div class="profile-pic">
                          <img alt="{{vm.user.name}}" class="img-responsive center-half" ng-src="/img/users/avatar/{{vm.user.data.imagen}}" ng-if="vm.user.data.imagen">
                          <img alt="{{vm.user.name}}" class="img-responsive center-half" ng-src="/img/avatar.png" ng-if="!vm.user.data.imagen">
                          <input type="file" ngf-select id="newAvatar" ng-model="vm.file" name="newAvatar" ngf-pattern="'image/*'" accept="image/*" ngf-max-size="2MB" class="file hidden"/>
                          <label for="newAvatar" class="btn btn-sm btn-default"><i class="fa fa-camera" aria-hidden="true"></i> Cambiar</label>
                          <br>
                          <img alt="image" class="img-responsive center-half" ngf-src="vm.file || '/img/users/avatar/{{vm.user.data.imagen}}'" ng-if="vm.file">
                          <div class="row" ng-if="vm.file">
                            <div class="col-md-6 col-sm-12">
                              <button type="button" name="changeAvatar" ng-click="vm.cancelAvatar()" class="btn btn-sm btn-danger btn-block"><i class="fa fa-times-circle-o" aria-hidden="true"></i> Cancelar</button>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <button type="button" name="changeAvatar" ng-click="vm.updateAvatar()" class="btn btn-sm btn-primary btn-block"><i class="fa fa-refresh" aria-hidden="true"></i> Actualizar</button>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="ibox-content profile-content">
                      <h4 class="text-center text-capitalize"><strong>{{vm.user.name}} {{vm.user.lastname}}</strong></h4>
                      <div class="text-center">

                          <h5>
                              <i class="fa fa-birthday-cake" aria-hidden="true"></i> {{vm.user.data.fechaNacimiento | date:'dd-MMM-yyyy'}}
                          </h5>
                          <h5>
                              <i class="fa fa-user-circle" aria-hidden="true"></i>
                              <span class="capitalize">{{vm.user.data.sexo}}</span>,
                              <span class="capitalize">{{vm.user.data.estadoCivil}}</span>
                          </h5>
                          <p><i class="fa fa-map-marker"></i> {{vm.user.data.location.direccion}}</p>
                          <p>
                              <i class="fa fa-mobile" aria-hidden="true"></i> {{vm.user.data.celular}}
                          </p>
                          <p>
                              <i class="fa fa-phone-square" aria-hidden="true"></i> {{vm.user.data.telefono}}
                          </p>
                      </div>
                      <div class="row m-t-lg">
                          <div class="col-md-4">
                              <span ng-if="vm.user.data.facebook">
                                  <a ng-href="{{vm.user.data.facebook}}" class="btn btn-primary btn-sm btn-block" target="_blank">
                                      <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook
                                  </a>
                              </span>
                              <!--<span class="bar">5,3,9,6,5,9,7,3,5,2</span>-->
                              <!--<h5><strong>169</strong> Posts</h5>-->
                          </div>
                          <div class="col-md-4">
                              <span ng-if="vm.user.data.twitter">
                                  <a ng-href="{{vm.user.data.twitter}}" class="btn btn-primary btn-sm btn-block" target="_blank">
                                      <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter
                                  </a>
                              </span>
                              <!--<span class="line">5,3,9,6,5,9,7,3,5,2</span>-->
                              <!--<h5><strong>28</strong> Following</h5>-->
                          </div>
                          <div class="col-md-4">
                              <span ng-if="vm.user.data.linkedIn">
                                  <a ng-href="{{vm.user.data.linkedIn}}" class="btn btn-primary btn-sm btn-block" target="_blank">
                                      <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn
                                  </a>
                              </span>
                              <!--<span class="bar">5,3,2,-1,-3,-2,2,3,5,2</span>-->
                              <!--<h5><strong>240</strong> Followers</h5>-->
                          </div>
                      </div>
                      <br>
                      <div class="user-button">
                          <div class="row">
                              <div class="col-md-12">
                                  <!-- <button type="button" class="btn btn-primary btn-sm btn-block"><i class="fa fa-envelope"></i> Enviar un mensaje</button> -->
                                  <a href="/perfil/editar" class="btn btn-primary btn-sm btn-block"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                              </div>
                          </div>
                      </div>
                  </div>
              </div><!-- /perfil -->
          </div>
          <div class="col-md-7">
            <div class="row">
              <!-- formacion -->
              <div class="row">
                <div class="col-md-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      Formación académica (último grado de estudios):
                      <span class="text-capitalize">{{vm.user.schooling.nivel}}</span>
                    </div>
                    <div class="ibox-content border-left-right">
                      <div class="row">
                        <div class="col-md-3 col-sm-3">
                          <strong>Centro educativo:</strong><br>{{vm.user.schooling.centroEducativo}}
                        </div>
                        <div class="col-md-3 col-sm-3">
                          <strong>Estado:</strong> <br>{{vm.user.schooling.estado}}
                        </div>
                        <div class="col-md-3 col-sm-3">
                          <strong>Fecha de inicio:</strong> <br>{{vm.user.schooling.fechaInicio | date: "MM-yyyy"}}
                        </div>
                        <div class="col-md-3 col-sm-3" ng-if="vm.user.schooling.estado === 'terminado'">
                          <strong>Fecha de conclusión:</strong><br> {{vm.user.schooling.fechaFinal | date: "MM-yyyy"}}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> <!-- /formacion -->
              <!-- habilidades -->
              <div class="row">
                <div class="col-md-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      Habilidades
                    </div>
                    <div class="ibox-content border-left-right">
                      <blockquote>
                        <p>{{vm.user.skills}}</p>
                      </blockquote>
                    </div>
                  </div>
                </div><!-- /habilidades -->
              </div>
              <!-- adicional -->
              <div class="row">
                <div class="col-md-12">
                  <div class="ibox float-e-margins">
                    <div class="ibox-title">
                      Información adicional
                    </div>
                    <div class="ibox-content text-capitalize">

                      <h5><strong>Principales puestos de interés</strong></h5>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" ng-repeat="position in vm.user.position">
                            {{position}}
                        </div>
                      </div>
                      <br>
                      <h5><strong>Principales áreas de interés</strong></h5>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" ng-repeat="area in vm.user.areas">
                            {{area}}
                        </div>
                      </div>
                      <br>
                      <h5><strong>Valores que rigen su vida</strong></h5>
                      <div class="row">
                        <div class="col-md-4 col-sm-4" ng-repeat="valor in vm.user.values">
                            {{valor}}
                        </div>
                      </div>
                      <br>
                      <h5><strong>Expectativa de sueldo</strong></h5>
                      <p>{{vm.user.salary.sueldo | currency}} - {{vm.user.salary.periodo}}</p>
                    </div>
                  </div>
                </div>
              </div><!-- /adicional -->
            </div>
          </div>
        </div>
        <div class="row">
          <!-- idiomas -->
          <div class="col-md-12">
              <div class="ibox float-e-margins">
                  <div class="ibox-title">
                      Idiomas
                  </div>
                  <div class="ibox-content border-left-right">
                      <div class="row">
                          <div class="col-md-4 col-sm-6" ng-repeat="idioma in vm.user.languages">
                              <h5><strong>{{idioma.idioma}}</strong></h5>
                              <p>
                                  Conversación: {{idioma.conversacion}}
                                  <br>
                                  Lectura: {{idioma.lectura}}
                                  <br>
                                  Redacción: {{idioma.redaccion}}
                              </p>
                          </div>
                      </div>
                  </div>
              </div>
          </div><!-- /idiomas -->
        </div>
        <!-- capacitaciones -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        Capacitación
                    </div>
                    <div class="ibox-content border-left-right">
                        <div class="row">
                            <div ng-repeat="cap in vm.user.courses" class="col-md-3 col-sm-4 course">
                                <h3>{{cap.evento}}</h3>
                                <h5>{{cap.area}}</h5>
                                <p class="well course-well smaller-text">{{cap.descripcion}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /capacitaciones -->
        <!-- software -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        Software que maneja
                    </div>
                    <div class="ibox-content border-left-right">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 software-card" ng-repeat="sof in vm.user.software">
                                <h4>{{sof.software}}</h4>
                                <button type="button" class="btn btn-xs btn-default btn-delete" ng-click="vm.deleteSoftware(sof._id)"><i class="fa fa-times-circle red-text" aria-hidden="true"></i> Eliminar</button>
                                <hr>
                                <p>{{sof.nivel}}</p>
                            </div>
                            <div class="col-md-3">
                              <form name="vm.newSoftwareForm" ng-submit="vm.addSoftware()" class="addInProfile" ng-class="{'newForm' : !vm.newSoftwareForm.software.$touched || !vm.newSoftwareForm.nivelSoft.$touched, 'touchedForm' : vm.newSoftwareForm.software.$touched || vm.newSoftwareForm.nivelSoft.$touched}">
                                <div class="form-group">
                                  <input type="text" name="software" value="" ng-model="vm.newSoftwareName" class="form-control" placeholder="Agregar más" ng-minlength="2" required>
                                </div>
                                <div class="form-group">
                                  <select name="nivelSoft" id="nivelSoft" ng-model="vm.nivelSoft" class="form-control" required>
                                    <option value="" disabled>-- Nivel --</option>
                                    <option value="basico">Con conocimientos</option>
                                    <option value="intermedio">Con experiencia</option>
                                    <option value="dominado">Dominado</option>
                                  </select>
                                </div>
                                <div class="form-group">
                                  <button type="submit" class="btn btn-xs btn-primary" ng-disabled="vm.newSoftwareForm.$invalid"><i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar </button>
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /software -->

        <!-- experiencia -->
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        Experiencia Profesional
                        <a href="/experiencia" class="btn btn-primary btn-xs pull-right">
                          <i class="fa fa-plus-circle" aria-hidden="true"></i> Agregar
                        </a>
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            <div class="feed-element information" ng-repeat="exp in vm.user.experience | orderBy : '-exp.fechaInicio'">
                                <div class="media-body">

                                    <h4><strong>{{exp.puesto}}</strong></h4>
                                    <h5> <strong>{{exp.nombre}}</strong> </h5>
                                    <p class="smaller-text">De {{exp.fechaInicio | date: "MMM-yyyy"}} a
                                        <span ng-if="exp.fechaFinal">
                                            {{exp.fechaFinal | date: "MMM-yyyy"}}.
                                        </span>
                                        <span ng-if="!exp.fechaFinal">
                                            la fecha.
                                        </span>
                                    </p>
                                    <h5>En el área de {{exp.area}}</h5>
                                    <p>Sueldo percibido: {{exp.sueldo.cantidad | currency}} {{exp.sueldo.periodo}}</p>
                                    <div class="well">
                                        <p class="text-justify">{{exp.descripcion}}</p>
                                    </div>

                                </div>
                                <a ng-href="/experiencia/{{exp._id}}" class="btn btn-default btn-sm btn-edit pull-right"><i class="fa fa-pencil-square" aria-hidden="true"></i> Editar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /experiencia -->

        <!-- vacantes -->
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        Vacantes postuladas
                    </div>
                    <div class="ibox-content">
                        <div class="feed-activity-list">
                            <div ng-show="vm.user.vacantes.length">
                                <div class="feed-element information" ng-repeat="vac in vm.user.vacantes">
                                  <div class="row">
                                    <div class="col-md-2">
                                      <a ng-href="/vacantes/{{vac._id}}">
                                        <img ng-src="img/vacantes/{{vac.imagen}}" alt="{{vac.puesto}}" ng-if="vac.imagen" class="img-responsive">
                                        <img ng-src="img/avatar.png" alt="{{vac.puesto}}" ng-if="!vac.imagen" class="img-responsive">
                                      </a>
                                    </div>
                                    <div class="col-md-10">
                                      <h4><strong>{{vac.puesto}}</strong></h4>
                                      <p>Área : <a ng-href="/vacantes?area={{vac.area._id}}">{{vac.area.name}}</a></p>
                                      <p>Categoría : <a ng-href="/vacantes?area={{vac.area._id}}&categoria={{vac.categoria._id}}">{{vac.categoria.name}}</a></p>
                                      <p>Ubicación: {{vac.ciudad}}, {{vac.estado}}, {{vac.pais}}</p>
                                    </div>
                                    <div class="row">
                                      <div class="col-md-12">
                                        <div class="well">
                                          <p class="text-justify">{{vac.descripcion}}</p>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                  <a ng-href="/vacantes/{{vac._id}}" class="btn btn-default btn-sm btn-edit pull-right"><i class="fa fa-pencil-square" aria-hidden="true"></i> Ver</a>
                                </div>
                            </div>
                            <div ng-hide="vm.user.vacantes.length">
                                <div class="information">
                                    <h5>No hay vacantes postuladas</h5>
                                    <a ng-href="/vacantes" class="btn btn-default btn-sm btn-edit"><i class="fa fa-briefcase" aria-hidden="true"></i> Ver vacantes</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /vacantes -->
      </div>
    </div>
  </div>
</div>
