<navigation></navigation>

<section class="white-padding">
  <div class="container">
    <h3>{{vm.vacante.puesto}}</h3>
    <p class="smaller-text">Por: <a ng-href="/vacantes?autor={{vm.vacante.autor._id}}"> {{vm.vacante.autor.name}} {{vm.vacante.autor.lastname}} </a></p>
    <hr>
    <div class="row">
      <div class="col-md-9">
        <div class="row">
          <div class="col-md-3">
            <img ng-src="/img/vacantes/{{vm.vacante.imagen}}" alt="{{vm.vacante.puesto}}" class="img-responsive" ng-if="vm.vacante.imagen">
            <img ng-src="/img/avatar.png" alt="{{vm.vacante.puesto}}" class="img-responsive" ng-if="!vm.vacante.imagen">
            <p class="smaller-text text-center">Área: <a ng-href="/vacantes?area={{vm.vacante.area._id}}">{{vm.vacante.area.name}}</a></p>
            <p class="smaller-text text-center">Categoría: <a ng-href="/vacantes?area={{vm.vacante.area._id}}&categoria={{vm.vacante.categoria._id}}">{{vm.vacante.categoria.name}}</a></p>
          </div>
          <div class="col-md-9">
            <p>{{vm.vacante.descripcion}}</p>
            <p>El contrato será
              <span ng-hide="vm.vacante.tipoContrato !== 'proyecto'">por </span>
              <span ng-hide="vm.vacante.tipoContrato !== 'indefinido'">por tiempo </span>
              <u>{{vm.vacante.tipoContrato}}</u>
            </p>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
              <div ng-if="vm.lv === 'user'">
                <form ng-submit="vm.apply()" ng-if="!vm.already">
                  <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-puzzle-piece" aria-hidden="true"></i> Postularme a esta vacante</button>
                </form>
                <div class="btn btn-lg btn-default" ng-if="vm.already" ng-disabled="vm.already"><i class="fa fa-info-circle" aria-hidden="true"></i> Usted ya se ha registrado a esta vacante</div>
              </div>
              <div ng-if="vm.lv !== 'user' && vm.lv !== 'admin' && vm.lv !== 'master'">
                <p class="text-center well">
                  ¿Le gustaría postularse a esta vacante?
                  <br>
                  <a href="/registro">Regístrese</a> o inicie sesión (en la parte superior) para postularse.
                </p>
              </div>
          </div>
        </div>
        <br>
        <div class="row text-capitalize">
          <div class="col-md-6">
            <div class="text-center">
              <p>
                <strong>Ubicación:</strong> <br>
                {{vm.vacante.ciudad}}, {{vm.vacante.estado}}, {{vm.vacante.pais}}
              </p>
              <p>
                <strong>Edad mínima:</strong> <br>
                {{vm.vacante.edadMin}}
              </p>
              <p>
                <strong>Edad máxima: </strong> <br>
                {{vm.vacante.edadMax}}
              </p>
              <p>
                <strong>Escolaridad requerida:</strong><br>
                <span ng-hide="!vm.vacante.escolaridad.titulo">{{vm.vacante.escolaridad.titulo}},</span> {{vm.vacante.escolaridad.grado}}
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="text-center">
              <p>
                <strong>Experiencia requerida</strong><br>
                <span ng-if="vm.vacante.experiencia.cantidad === 0">Ninguna</span>
                <span ng-if="vm.vacante.experiencia.cantidad !== 0">
                  {{vm.vacante.experiencia.cantidad}}
                  <span ng-if="vm.vacante.experiencia.periodo === 'year'">años.</span>
                  <span ng-if="vm.vacante.experiencia.periodo === 'month'">meses.</span>
                </span>
              </p>
              <p>
                <strong>Jornada laboral:</strong><br>
                {{vm.vacante.jornada.horas}} horas, turno {{vm.vacante.jornada.turno}}
              </p>
              <p ng-if="vm.vacante.salario">
                <strong>Salario: </strong> <br>
                {{vm.vacante.salario.cantidad}}, {{vm.vacante.salario.periodo}}
              </p>
            </div>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12">
            <div ng-if="vm.lv === 'admin' || vm.lv === 'master'">
              <hr>
              <p class="text-center">Esta vacante tiene {{vm.vacante.users.length || 0}} usuarios postulados.</p>
            </div>
          </div>
        </div>
        <p class="text-center">Visitas: {{vm.vacante.views}}</p>
      </div>
      <div class="col-md-3">
        <vacante-aside></vacante-aside>
      </div>
    </div>
  </div>
</section>

<main-footer></main-footer>
